@prefix c4a: <http://rbmm.org/schemas/cloud4all/0.1/>.
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>.

// Description of the rule set: basic rules to match solution settings and user preferences based on solution ontology (semanticSolution.jsonld).     

// Description of the rule: match common preferences with application settings   
[MatchSolutions: 
(?ps rdf:type c4a:PreferenceSet)
(?ps c4a:hasPref ?p)

(?p rdf:type c4a:CommonPreference)
(?p c4a:id ?p_id)
(?p c4a:name ?p_name)
(?p c4a:hasSimpleValue ?p_value)

(?sol rdf:type c4a:InstalledSolution)
(?sol c4a:id ?sol_id)
(?sol c4a:name ?sol_name)
(?sol c4a:hasFeature ?feat)
(?sol c4a:class ?class)
(?class rdf:type ?class_type)

(?feat rdf:type c4a:CustomizationFeature)
(?feat c4a:isAlias ?alias)

equal(?p_id, ?alias)

makeSkolem(?newConfig, ?sol, ?ps)
makeSkolem(?newSetting, ?feat, ?p)
->
(?p c4a:hasConfig ?newConfig)
(?newConfig c4a:belongsToPrefSet ?ps)
(?newConfig c4a:refersToSol ?sol)
(?newConfig c4a:refersToPref ?p)
(?newConfig c4a:applySetting ?newSetting)
(?newConfig rdf:type c4a:Configuration)
(?newConfig c4a:id ?sol_id)
(?newConfig c4a:name ?sol_name)
(?newConfig c4a:isActive "true")

(?newSetting rdf:type c4a:Setting)
(?newSetting c4a:id ?p_id)
(?newSetting c4a:name ?p_name)
(?newSetting c4a:value ?p_value)

(?pref c4a:status "matched")
]

// Description of the rule: match application-specific preferences with application settings
[MatchSolutions: 
(?ps rdf:type c4a:PreferenceSet)
(?ps c4a:hasPref ?p)

(?p rdf:type c4a:ApplicationPreference)
(?p c4a:id ?p_id)
(?p c4a:hasComplexValue ?cpv)
(?cpv c4a:name ?p_name)
(?cpv c4a:value ?p_value)

(?sol rdf:type c4a:InstalledSolution)
(?sol c4a:id ?sol_id)
(?sol c4a:name ?sol_name)

equal(?p_id, ?sol_id)

makeSkolem(?newConfig, ?sol, ?ps)
makeSkolem(?newSetting, ?p, ?cpv)
->
(?p c4a:hasConfig ?newConfig)
(?newConfig c4a:belongsToPrefSet ?ps)
(?newConfig c4a:refersToSol ?sol)
(?newConfig c4a:refersToPref ?p)
(?newConfig c4a:applySetting ?newSetting)
(?newConfig rdf:type c4a:Configuration)
(?newConfig c4a:id ?sol_id)
(?newConfig c4a:name ?sol_name)
(?newConfig c4a:isActive "true")

(?newSetting rdf:type c4a:Setting)
(?newSetting c4a:id ?p_name)
(?newSetting c4a:name ?p_name)
(?newSetting c4a:value ?p_value)
]

// Removes all matched common settings from a configuration for which a user has app-specific preferences defined 
[RemoveCommonSettings: 
(?if c4a:refersTo ?config)
(?config rdf:type c4a:Configuration)
(?config c4a:id ?sol_id)
(?config c4a:settings ?set1)
(?config c4a:settings ?set2)
(?set1 c4a:id ?set1_id)
(?set2 c4a:id ?set2_id)
notEqual(?set1, ?set2)
notEqual(?set2_id, ?sol_id)
equal(?set1_id, ?sol_id)
->
drop(4)
]